[
{lorawan_server, [
    {applications, [
        {<<"semtech-mote">>, lorawan_application_semtech_mote},
        {<<"microchip-mote">>, lorawan_application_microchip_mote}
    ]},
    % display custom menus
    {http_admin_path, <<"/demo">>}
]},
% error logging settings
{lager, [
    {colored, true},
    % uncomment to display even a high number of messages per second
    % see https://github.com/erlang-lager/lager#overload-protection
    % {error_logger_hwm, undefined},
    {handlers, [
        {lager_console_backend, [{level, debug}]},
        {lager_file_backend, [{file, "debug.log"}, {level, debug}]},
        {lager_file_backend, [{file, "error.log"}, {level, error}]}
    ]},
    {crash_log, "crash.log"}
]},
{sasl, [
    {errlog_type, error}
]}].
