{erl_opts, [
    {parse_transform, lager_transform}
]}.

{deps, [
    {lorawan_server, {git, "https://github.com/gotthardp/lorawan-server.git", {branch, "master"}}}
]}.

{relx, [
    {release, {'lorawan-server-demoapp', "0.1.0"},
        [lorawan_server, lorawan_demoapp]},
    {sys_config, "lorawan_demoapp.config"}
]}.
